# Clash Config Make by Coldvvater
# TG Channel: https://t.me/Ison_Channel
# GitHub主页: https://github.com/Coldvvater
# Update Date: 2023.05.03

subscribe-url: 填上你的订阅链接
# 替换上面文字用于Stash获取机场流量信息并在主页显示

mixed-port: 7890
# 本地混合代理(http和socks5合并）端口
allow-lan: true
# 允许局域网连接(false/true)
bind-address:
# 监听IP白名单（当allow-lan：true），只允许列表设备
  '*'
# 全部设备
# 192.168.122.11
# 单个ip4地址
# "[aaaa::a8aa:ff:fe09:57d8]"
# 单个ip6地址
mode: rule
# clash工作模式（rule/global/direct）
log-level: info
# 日志等级（info/warning/error/debug/silent）
ipv6: true
# IP6解析开关；如果为false，将返回ip6结果为空
external-controller: 127.0.0.1:9090
# 控制器监听地址
dns:
# DNS模块设置
  enable: true
# DNS开关(false/true)
  listen: 0.0.0.0:1053
# DNS监听地址
  ipv6: true
# IP6解析开关；如果为false，将返回ip6结果为空
  default-nameserver:
# 解析非IP的dns用的dns服务器,只支持纯IP
    - 223.5.5.5
    - 119.29.29.29
    - 114.114.114.114
  enhanced-mode: fake-ip
# DNS模式(redir-host/fake-ip)
  fake-ip-range: 198.18.0.1/16
# Fake-IP解析地址池
  fake-ip-filter:
# Fake-ip过滤，列表中的域名返回真实ip
    - '*.lan'
# Local Area Network
    - '+.stun.*.*'
# Stun Services
    - '+.stun.*.*.*'
    - '+.stun.*.*.*.*'
    - '+.stun.*.*.*.*.*'
    - 'lens.l.google.com'
# Google Voices
    - '*.n.n.srv.nintendo.net'
# Nintendo Switch
    - '+.stun.playstation.net'
# PlayStation
    - 'xbox.*.*.microsoft.com'
# XBox
    - '*.*.xboxlive.com'
# Microsoft
    - '*.msftncsi.com'
    - '*.msftconnecttest.com'
# Bilibili CDN
    - '*.mcdn.bilivideo.cn'
  nameserver:
# 默认DNS服务器，支持udp/tcp/dot/doh/doq
    - https://223.5.5.5/dns-query
    - https://1.12.12.12/dns-query

c: &c {type: http, behavior: classical, interval: 86400}
# 规则行为锚点

d: &d {type: http, behavior: domain, interval: 86400}

p: &p {type: http, interval: 42300, health-check: {enable: true, url: http://cp.cloudflare.com/generate_204, interval: 300}}
# 代理提供商锚点

g: &g {type: select, proxies: [Proxy, AutoSelect, Fallback, HongKong, TaiWan, Singapore, Japan, America, Others, DIRECT]}
# 策略组锚点

m: &m {type: select, proxies: [DIRECT, Proxy, AutoSelect, Fallback, HongKong, TaiWan, Singapore, Japan, America, Others]}

proxies: # 本地服务器

u: &u {type: select, use: [MySubs]}
# > 订阅引用锚点

proxy-providers: # 代理提供商(远程订阅)
  MySubs: &MySubs
    <<: *p
    url: ""
    path: ./proxy_providers/mysubs.yaml
# 1. 请使用Clash类型订阅链接填入引号""内使用,
# 2. 或可使用通用订阅链接通过Sub-Store进行订阅转换(用于Stash)。

proxy-groups: # 策略组

# 漏网之鱼
- {name: Final, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Final.png, <<: *g, proxies: [Proxy,DIRECT]}

# 节点选择
- {name: Proxy, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Rocket.png, <<: *g, proxies: [AutoSelect,Fallback,HongKong,TaiWan,Singapore,Japan,America,Others]}

# 自动筛选
- {name: AutoSelect, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Auto.png, type: url-test, lazy: true, <<: *u}

# 故障转移
- {name: Fallback, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Available.png, type: fallback, <<: *u}

# 国外网站
- {name: Global, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Global.png, <<: *g}

# 国内网站
- {name: Mainland, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/China_Map.png, <<: *m}

# YouTube
- {name: YouTube, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/YouTube.png, <<: *g}

# NETFLIX
- {name: NETFLIX, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Netflix.png, <<: *g}

# Disney+
- {name: Disney+, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Disney%2B.png, <<: *g}

# Emby
- {name: Emby, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Emby.png, <<: *g}

# 哔哩哔哩
- {name: BiliBili, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/bilibili.png, <<: *m, proxies: [DIRECT,HongKong,TaiWan]}

# 声田音乐
- {name: Spotify, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Spotify.png, <<: *g}

# 网易云音乐
- {name: NetEaseMusic, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Netease_Music.png, <<: *m}

# 海外抖音
- {name: TikTok, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/TikTok.png, <<: *g}

# 国际媒体
- {name: Streaming, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Streaming.png, <<: *g}

# 电报信息
- {name: Telegram, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Telegram_X.png, <<: *g}

# 苹果服务
- {name: Apple, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Apple.png, <<: *m}

# 谷歌服务
- {name: Google, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Google.png, <<: *g}

# 微软服务
- {name: Microsoft, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Microsoft.png, <<: *m}

# 游戏平台
- {name: Games, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Game.png, <<: *m}

# 广告拦截
- {name: AdBlock, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Advertising.png, <<: *g, proxies: [REJECT,DIRECT]}

# 香港节点
- {name: HongKong, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Hong_Kong.png, <<: *u, filter: "港|🇭🇰|HK|(?i)Hong"}

# 台湾节点
- {name: TaiWan, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/China.png, <<: *u, filter: "台|🇨🇳|🇹🇼|湾|TW|(?i)Taiwan"}

# 狮城节点
- {name: Singapore, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Singapore.png, <<: *u, filter: "新加坡|坡|狮城|🇸🇬|SG|(?i)Singapore"}

# 日本节点
- {name: Japan, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Japan.png, <<: *u, filter: "日|🇯🇵|东京|JP|(?i)Japan"}

# 美国节点
- {name: America, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/United_States.png, <<: *u, filter: "美|🇺🇲|US|(?i)States|American"}

# 其他节点
- {name: Others, icon: https://raw.githubusercontent.com/Koolson/Qure/master/IconSet/mini/Airport.png, <<: *u, proxies: [DIRECT]}

rule-providers: # 远程规则集

  Unbreak: # > 规则修正
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/DivineEngine/Profiles/master/Clash/RuleSet/Unbreak.yaml"
    path: ./ruleset/Unbreak.yaml

  Advertising: # > 广告拦截
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Coldvvater/Mononoke/master/Stash/RuleSet/Advertising.yaml"
    path: ./ruleset/Advertising.yaml

  OpenAI: # > OpenAI
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/Coldvvater/Mononoke/master/Stash/RuleSet/OpenAI.yaml"
    path: ./ruleset/OpenAI.yaml

  YouTube: # > 油管视频
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/YouTube/YouTube.yaml"
    path: ./ruleset/YouTube.yaml

  Netflix: # > 奈飞视频
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Netflix/Netflix.yaml"
    path: ./ruleset/Netflix.yaml

  Disney: # > 迪士尼+
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Disney/Disney.yaml"
    path: ./ruleset/Disney.yaml

  Emby: # > Emby
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Emby/Emby.yaml"
    path: ./ruleset/Emby.yaml

  BiliIntl: # 哔哩哔哩东南亚
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/BiliBiliIntl/BiliBiliIntl.yaml"
    path: ./ruleset/BiliIntl.yaml

  BiliBili: # 哔哩哔哩
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/BiliBili/BiliBili.yaml"
    path: ./ruleset/BiliBili.yaml

  Spotify: # 声田音乐
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Spotify/Spotify.yaml"
    path: ./ruleset/Spotify.yaml

  NetEaseMusic: # 网易云音乐
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/NetEaseMusic/NetEaseMusic.yaml"
    path: ./ruleset/NetEaseMusic.yaml

  TikTok: # 海外抖音
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/TikTok/TikTok.yaml"
    path: ./ruleset/TikTok.yaml

  GlobalMedia_Domain: # 国际媒体
    <<: *d
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GlobalMedia/GlobalMedia_Domain.yaml"
    path: ./ruleset/GlobalMedia_Domain.yaml

  Telegram: # 电报信息
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Telegram/Telegram.yaml"
    path: ./ruleset/Telegram.yaml

  GitHub: # GitHub
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/GitHub/GitHub.yaml"
    path: ./ruleset/GitHub.yaml

  Bing: # 必应搜索
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Bing/Bing.yaml"
    path: ./ruleset/Bing.yaml

  Twitter: # Twitter
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Twitter/Twitter.yaml"
    path: ./ruleset/Twitter.yaml

  TestFlight: # TestFlight
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/TestFlight/TestFlight.yaml"
    path: ./ruleset/TestFlight.yaml

  Apple_Domain: # 苹果服务
    <<: *d
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Apple/Apple_Domain.yaml"
    path: ./ruleset/Apple_Domain.yaml

  Google: # 谷歌服务
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Google/Google.yaml"
    path: ./ruleset/Google.yaml

  Microsoft: # 微软服务
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Microsoft/Microsoft.yaml"
    path: ./ruleset/Microsoft.yaml

  Games: # 游戏平台
    <<: *c
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Game/Game.yaml"
    path: ./ruleset/Games.yaml

  ChinaMax_Domain: # 国内网站
    <<: *d
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/ChinaMax/ChinaMax_Domain.yaml"
    path: ./ruleset/ChinaMax_Domain.yaml

  Global_Domain: # 国外网站
    <<: *d
    url: "https://ghproxy.com/https://raw.githubusercontent.com/blackmatrix7/ios_rule_script/master/rule/Clash/Global/Global_Domain.yaml"
    path: ./ruleset/Global_Domain.yaml

rules: # 分流规则引用
  - RULE-SET,Unbreak,DIRECT
  - RULE-SET,Advertising,AdBlock
  - RULE-SET,OpenAI,America
  - RULE-SET,YouTube,YouTube
  - RULE-SET,Netflix,NETFLIX
  - RULE-SET,Disney,Disney+
  - RULE-SET,Emby,Emby
  - RULE-SET,BiliIntl,Streaming
  - RULE-SET,BiliBili,BiliBili
  - RULE-SET,Spotify,Spotify
  - RULE-SET,NetEaseMusic,NetEaseMusic
  - RULE-SET,TikTok,TikTok
  - RULE-SET,GlobalMedia_Domain,Streaming
  - RULE-SET,Telegram,Telegram
  - RULE-SET,GitHub,Global
  - RULE-SET,Bing,Global
  - RULE-SET,Twitter,Global
  - RULE-SET,TestFlight,Global
  - RULE-SET,Apple_Domain,Apple
  - RULE-SET,Google,Google
  - RULE-SET,Microsoft,Microsoft
  - RULE-SET,Games,Games
  - RULE-SET,Global_Domain,Global
  - RULE-SET,ChinaMax_Domain,Mainland
  - GEOIP,Lan,DIRECT
  - GEOIP,CN,Mainland
  - MATCH,Final
